/*
* @Author: Administrator
* @Date:   2018-08-14 09:23:28
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-16 22:47:22
*/

body{
	background-image: url('../img/login-background.png');
	background-size: cover;
	background-repeat: no-repeat;
}
/* 注册按钮开始 */
.bottom{
	width: 100%;
	padding: 0.24rem;
	text-align: right;
}
.bottom button{
	width: 1.18rem;
	height: 0.39rem;
	border-radius: 0.2rem;
	font-size: 0.26rem;
	font-weight: 500;
	color: #fff;
	border: none;
	text-align: center;
	line-height: 0.39rem;
	background: #fcaf3c;
	display: inline-block;
	padding: 0;
}
/* 注册按钮结束 */

/* 名字、头像开始 */
.desc{
	width: 100%;
	height: 4.6rem;
	padding-top: 1.4rem;
}
.desc .name{
	width: 100%;
	/* background: red; */
	font-size: 0.32rem;
	font-weight: 400;
	color: #fda625;
	text-align: center;
	padding: 0.08rem;

}
.desc .head{
	width: 2.58rem;
	height: 2.58rem;
	margin: 0 auto;
	background-image: url('../img/login-head-background.png');
	background-size: cover;
	display: flex;
	align-items: center;

}
.desc .head img{
	display: block;
	width: 1.71rem;
	height: 1.71rem;
	margin: 0 auto;
}
/* 名字、头像结束 */


/* 输入用户名、密码开始 */
.info{
	width: 100%;
	height: 3.38rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.24rem;
	/* background: red; */
}
.info .username{
	width: 100%;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}
.info .username .top{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.info .username .top img{
	width: 0.37rem;
	height: 0.1rem;
	margin-right: 0.1rem;
	display: block;
}
.info .username .top p{
	font-size: 0.2rem;
	color: #fbaf40;
	font-weight: 600;
}
.info .username .second{
	height: 0.7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.info .username .second .label img{
	display: block;
	width: 0.4rem;
	height: 0.4rem;
	margin-right: 0.1rem;
}
.info .username .second input{
	height: 0.4rem;
	width: 2.8rem;
	display: block;
	border: none;
	border-bottom: 1px solid #e5e5e5;
	outline: none;
}
.info .username .second p{
	font-size: 0.18rem;
	font-weight: 500;
	color: #fbaf40;
	width: 2.1rem;

}
.info .username .second #right{
	position: absolute;
	right:2.6rem;
	top:0.1rem;
	display: block;
	width: 0.3rem;
	height: 0.3rem;
	display: none;
}

.info .point{
	line-height: 0.3rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	font-size: 0.2rem;
	font-weight: 400;
	color: #e5e5e5;
}



.info .password{
	width: 100%;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}
.info .password .top{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.info .password .top img{
	width: 0.37rem;
	height: 0.1rem;
	margin-right: 0.1rem;
	display: block;
}
.info .password .top p{
	font-size: 0.2rem;
	color: #fbaf40;
	font-weight: 600;
}
.info .password .second{
	height: 0.7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.info .password .second .label img{
	display: block;
	width: 0.4rem;
	height: 0.4rem;
	margin-right: 0.1rem;
}
.info .password .second input{
	height: 0.4rem;
	width: 2.8rem;
	display: block;
	border: none;
	border-bottom: 1px solid #e5e5e5;
	outline: none;
}
.info .password .second p{
	font-size: 0.18rem;
	font-weight: 500;
	color: #fbaf40;
	width: 2.1rem;
}
.info .password .second #right{
	position: absolute;
	right:2.6rem;
	top:0.1rem;
	display: block;
	width: 0.3rem;
	height: 0.3rem;
	display: none;
}
/*.password .second #right{*/
	/*position: absolute;*/
	/*right:1rem;*/
	/*bottom:0;*/
/*}*/


.info .forget{
	width: 100%;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.info .forget img{
	display: block;
	width: 0.4rem;
	height: 0.4rem;
	margin-right: 0.1rem;
}
.info .forget p{
	font-size: 0.2rem;
	color: #333;
	font-weight: 600;
}


.info .li-top-right{
	/*display: flex;*/
	/*justify-content: end;*/
}
.info .li-top-right img#prompt{
	display: block;
	width: auto;
	height:0.46rem;
	margin-left: 0.4rem;
}
.info .erroy1{
	display: block;
	display: none;
}
.info .erroy2{
	display: block;
	display: none;
}


/* 输入用户名、密码结束 */


/* 登录按钮开始 */
.login{
	display: block;
	width: 100%;
	margin: 0.3rem  auto;
	width: 1.95rem;
	height: 0.65rem;
	border-radius: 0.3rem;
	background: #434343;
	color: #fff;
	font-size: 0.28rem;
	font-weight: 600;
	text-align: center;
	line-height: 0.65rem;
	outline: none;
	border:none;
}
/* 登录按钮结束 */


/* 第三方开始 */
.other{
	width: 100%;
	height: 0.6rem;
}
.other img{
	display: block;
	margin: 0 auto;
	width: 4.22rem;
	height: 0.6rem;
}
/* 第三方结束 */

/* 第三方图标开始 */
.picture{
	width: 100%;
	height: 1.7rem;
	padding: 0.5rem 1.02rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.picture img.qq{
	width: 0.48rem;
	height: 0.58rem;
}
.picture img.wechat{
	width: 0.65rem;
	height: 0.52rem;
}
.picture img.sina{
	width: 0.7rem;
	height: 0.55rem;
}
/* 第三方图标结束 */