/*
* @Author: Administrator
* @Date:   2018-08-13 23:07:42
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-14 18:57:14
*/
/* 头部开始 */
header{
	width: 100%;
	height: 2.08rem;
	background: linear-gradient(to right,#ffb027,#faaf49);
	padding: 0 0.24rem;
}
header .back{
	width: 100%;
	height: 0.69rem;
	padding-top: 0.26rem;
}
header .back img{
	display: block;
	width: 0.17rem;
	height: 0.3rem;
}
header h4{
	font-size: 0.3rem;
	font-weight: 500;
	color: #fff;
	line-height: 0.37rem;
}

header .during{
	width: 100%;
	height: 1.66rem;
	padding: 0.11rem 0 0 0.16rem;
	background: #fff;
	margin-top: 0.24rem;
	box-shadow: 0 0.04rem 0.25rem 0.01rem rgba(250, 175, 70, 0.5);
	border-radius: 0.05rem;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding-bottom: 0.7rem;
}
header .during .left{
	display: flex;
	align-items: flex-end;
}
header .during .left img{
	display: block;
	width: 0.57rem;
	height: 0.67rem;
	margin-right: 0.1rem;	
}
header .during .left p{
	font-size: 0.28rem;
	font-weight: 500;
	color: #777777;
}
header .during .right{
	font-size: 0.18rem;
	color: #808080;
	font-size: 500;
	padding-right: 0.24rem;
}
header .during .right span{
	font-size: 0.3rem;
	color: #db3e4f;
}
/* 头部结束 */

/* 银行卡开始 */
.card{
	width: 100%;
	padding: 0.24rem;
	margin-top: 0.9rem;
	margin-bottom: 0.24rem;
	position: relative;
}
.card img{
	display: block;
	width: 6.52rem;
	height: 3.34rem;
	margin: 0 auto;
}
.card .num{
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 0;
	bottom: 1.16rem;
	padding: 0 0.74rem;
}
.card .num .word{
	font-size: 0.4rem;
	font-weight: 600;
	color: #fff;
}
.card .num .center{
	color: #fba420;
}
/* 银行卡结束 */

/* 提示开始 */
.prompt{
	width: 100%;
	height: 0.3rem;
	padding: 0 1.62rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.prompt img{
	width: 0.43rem;
	height: 0.12rem;
}
.prompt p{
	font-size: 0.28rem;
	color: #707070;
}
/* 提示结束 */

/* 密码开始 */
.pass{
	width: 100%;
	padding: 0.5rem 1.64rem;

}
.pass ul{
	display: flex;
	justify-content: space-between;
}
.pass ul li{
	width: 0.49rem;
	border-bottom: 0.05rem solid #c4c4c4;
	font-size: 0.28rem;
	text-align: center;
	line-height: 0.49rem;
}
.pass ul li p{

}
/* 密码结束 */


/* 键盘开始 */
.keyboard{
	width: 100%;
	height: 4.3rem;
	padding: 0.1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #dcdfe5;
}
.keyboard ul{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.keyboard ul li img{
	width: 2.37rem;
	height: 0.96rem;
}
.keyboard ul.last{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.keyboard ul.last li:nth-child(1){
	margin-right: 0.1rem;
}
/* 键盘结束 */